nav {
  color: #E3E2C3;
  position: fixed;
  top: 0;
  float: right;
}

body {
  background-color: #E3C3C5;
}
  
h1 {
  text-align: center;
  font-family: "verdana";
  color: #E3E2C3;
  
  
  
}
h2 {
  text-align: center;
  font-family: "verdana";
  color: #E3E2C3;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
