h1 {
  text-align: center
  <p style="font-family:verdana">This is a paragraph.</p>
  
}
h2 {
  text-align: center
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
