h1 {
  text-align: center;
  "font-family: verdana";
  "color: #E3C3C5"
  
  
  
}
h2 {
  text-align: center;
  "font-family: verdana";
  "color: #E3C3C5"
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
